Django==2.2.24
django-autocomplete-light==3.2.10
django-extensions==2.1.0
django-filter==1.1.0
django-reversion==3.0.2
django-tables2==1.21.2
MySQL-python==1.2.5
SQLAlchemy>=1.3.0
sqlsoup>=0.9.1
pymongo
lark-parser
uwsgi==2.0.17.1
https://github.com/bastionhost/django-admin-oauth2/archive/master.zip
https://github.com/pajachiet/pymongo-schema/archive/master.zip
